<!-- Add category Admin section -->

<section id="add_category">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto section">
                <h2>Add & Edit Category</h2>
                <p>You can load existing category and edit it or create new one.</p>
                <hr />
                <form id = "" action="/ucp#add_category" method = "GET">
                    <div class="form-group">
                        <select name = "custom_cat_id" class="form-control" id="sel1">
                            <option value = "">---</option>
                            <% for (const cat of customCats) {%>
                                <option value='<%=cat.id %>'> <%=cat.title%></option>
                            <%}%>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Load category</button>
                </form>

                <form id = "" action="/create_custom_cat" method = "POST">
                    <input type="" name="id" value="<%=customCatData.id%>" style="visibility: hidden;">
                    <div class="form-group">
                        <label for="category_title">Category Title</label>
                        <input type="text" class="form-control" name = "category_title" value = "<%= customCatData.title %>" id="category_title" pattern=".{3,}"   required title="3 characters minimum"/>
                    </div>
                    <div class="form-group">
                        <label for="category_desc">Category Description</label>
                        <input type="text" class="form-control" name = "category_desc" id="category_desc" value = "<%= customCatData.description %>" pattern=".{3,}"   required title="3 characters minimum"/>
                    </div>
                    <div class="form-group">
                    <label for="sel1">Item styles</label>
                    <select name = "category_item_style" class="form-control" id="sel1">

                        <% for (const style of styles) { 
                            if (style == customCatData.style) {%>
                            <option class  = "alert alert-<%=style%>" value = "<%=style%>" selected><%=style%></option>
                            <%}else{%>
                            <option class  = "alert alert-<%=style%>" value = "<%=style%>"><%=style%></option>
                        <%}}%>
                    </select>
                    </div>

                    <button type="submit" name = "submit" class="btn btn-success btn-block" id="submit_custom_cat">Submit</button>
                </form>
            </div>
        </div>
</section>
<section id="delete_category">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto section">
                <h2>Delete Category</h2>
                <p>Deleting categories will delete all items attached to the selected category.</p>
                <hr/>
                <form id = "" action="/delete_custom_cat" method = "POST">
                    <div class="form-group">
                    <label for="sel1">Select Category</label>
                        <select name = "id" class="form-control" id="sel1">
                        <option value = "">---</option>
                        <% for (const cat of customCats) {%>
                            <option value='<%=cat.id %>'> <%=cat.title%></option>
                        <%}%>
                        </select>
                    </div>
                    <button type="submit" name = "submit" class="btn btn-danger btn-block" id="delete_custom_cat">Delete</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="add_item">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Add & Edit Item</h2>
                <hr />
                
                <form id = "" action="/ucp#add_item" method = "GET">
                    <div class="form-group">
                        <select name = "custom_item_id" class="form-control" id="sel1">
                            <option value = "">---</option>
                             <% for (const item of customItems) {%>
                                <option value='<%=item.id %>'> <%=item.title%></option>
                            <%}%>                  
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Load item</button>
                </form>
                <hr />
                <form id = "checkChangedbutton" class = "checkChangedbutton" action="/create_custom_item" method = "POST">
                    <div class = "row">
                        <div class = "col-md-6">
                            <div class="form-group">
                                <input type="text" name="id" value="<%= customItemData.id %>" style="visibility: hidden;">
                                <label for="item_title">Item Title</label>
                                <input type="text" class="form-control" value = "<%= customItemData.title%>" name = "item_title" id="item_title" pattern=".{3,}"   required title="3 characters minimum"/>
                            </div>
                        </div>
                        <div class = "col-md-6">
                            <div class="form-group">
                                <label for="item_url">Item Url</label>
                                <input type="text" class="form-control" value = "<%= customItemData.url%>" name = "item_url" id="item_url" pattern=".{3,}"   required title="3 characters minimum"/>
                            </div>
                        </div>
                        <div class = "col-md-4">
                            <div class="form-group">
                                <label for="sel1">Item Icon</label>
                                <select name = "item_icon" class="form-control" id="item_icon">
                                  <% for (const icon of icons) {
                                    if (customItemData.icon === icon.value){%>
                                    <option value='<%=icon.value%>' selected> <%=icon.title%></option>
                                    <%}else{%>
                                    <option value='<%=icon.value%>'> <%=icon.title%></option>
                                <%}}%>   
                                </select>
                            </div> 
                        </div>
                        <div class = "col-md-4">
                            <div class = "form-group">
                                <label for ="sel2">Action</label>
                                <select name = "item_action" class = "form-control" id = "sel2" required/>
                                <% for (const action of actions) {%>
                                    <option value='<%=action %>'> <%=action%></option>
                                <%}%> 
                                </select>
                            </div>
                        </div>
                        <div class = "col-md-4">
                            <div class="form-group">
                                <label for="sel3">Category</label>
                                <select name = "item_cat" class="form-control" id="sel3" required/>
                                <% for (const cat of customCats) 
                                   if (cat.id === customItemData.cat_id){%>
                                    <option value='<%=cat.id %>' selected> <%=cat.title%></option>
                                    <%}else{%>
                                    <option value='<%=cat.id %>'> <%=cat.title%></option>
                                <%}%>
                                </select>
                            </div> 
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" id="submit_custom_item">Submit</button>
                </form> 
                <hr />
                <h4>Preview</h4>
                <div class = "item_preview">
                    <div class = "col-md-2" id = "item_preview_md">
                        <button class = "btn btn-dark item" id = "item_btn_preview" style ="width:180px !important; height:180px !important; overflow-wrap: break-word;"></button>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>
<section id="delete_item">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Delete Item</h2>
                <hr />
                <form id = "" action="/delete_custom_item" method = "POST">
                    <div class="form-group">
                    <label for="sel1">Select Item</label>
                        <select name = "item_id" class="form-control" id="sel1">
                            <option value = "">---</option>
                            <% for (const item of customItems) {%>
                                <option value='<%=item.id %>'> <%=item.title%></option>
                            <%}%>   
                        </select>
                    </div>
                    <button type="submit" name = "submit" class="btn btn-danger btn-block" id="delete_custom_item">Delete</button>
                </form>
            </div>
        </div>
    </div>
</section>
